In [ ]:
import pandas as pd

In [ ]:
Df=pd.read_csv('/content/Indian Personal Finance and Spending Habits.csv')

In [ ]:
Df.sample(10)

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
12050,70916.974900,30,3,Professional,Tier_2,14183.394980,7351.888653,1656.127339,7223.774397,5134.752076,...,8454.061744,18097.719283,1329.181693,360.770752,692.577686,397.572878,985.112142,3.885632,126.490401,322.727504
10021,48641.414719,45,1,Retired,Tier_2,9728.282944,0.000000,1903.441924,5155.221246,3342.000045,...,6582.930181,16021.949873,832.484133,604.812239,81.996678,286.229615,372.194723,33.903533,107.423770,91.112257
10063,124779.129557,34,1,Student,Tier_2,24955.825911,0.000000,5128.645952,12549.159015,6602.317242,...,19482.594384,40285.045429,2657.437457,542.275592,1095.411539,895.925335,2011.135919,105.656699,193.906022,792.676013
15002,31583.451115,58,2,Professional,Tier_2,6316.690223,0.000000,1071.183807,4024.642072,1944.188203,...,2418.475895,11359.420083,1198.633999,516.288897,210.807714,273.497265,360.106669,19.530887,83.951525,112.242484
18578,88860.753601,55,0,Retired,Tier_3,13329.113040,0.000000,2547.617418,9988.278244,6309.810929,...,13054.599061,40214.149390,1414.226191,1239.341874,353.897319,387.745597,1585.200561,70.736014,0.000000,546.270124
10898,17454.341953,63,3,Professional,Tier_2,3490.868391,0.000000,656.307737,2531.262665,1051.256267,...,1251.257644,4888.453519,510.966059,215.049090,108.451877,59.815435,176.899450,7.402510,9.673619,49.322416
16667,29237.397347,62,4,Student,Tier_3,4385.609602,0.000000,1399.428710,3246.340862,1642.005418,...,2175.637784,10481.769039,907.646241,278.336641,147.049095,293.142540,371.522722,2.977617,85.236232,124.066987
11963,13587.991307,41,1,Professional,Tier_1,4076.397392,0.000000,444.189345,1491.092772,965.869965,...,1202.874008,3070.043284,362.466725,55.465384,136.067058,92.444118,133.278497,9.485290,15.467318,60.624582
5614,19933.585954,47,3,Self_Employed,Tier_3,2990.037893,1856.962379,511.836290,2919.739977,1536.187144,...,1572.370430,4890.731439,614.570152,179.876295,151.977296,80.724006,73.421302,14.380420,37.443372,54.362526
2519,15181.418824,42,4,Student,Tier_3,2277.212824,2174.579388,602.824275,2031.307450,1106.724354,...,821.623165,3393.012355,568.251245,207.243192,40.063207,146.300732,103.815119,21.584861,7.807701,19.482349

In [ ]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Income                           20000 non-null  float64
 1   Age                              20000 non-null  int64
 2   Dependents                       20000 non-null  int64
 3   Occupation                       20000 non-null  object
 4   City_Tier                        20000 non-null  object
 5   Rent                             20000 non-null  float64
 6   Loan_Repayment                   20000 non-null  float64
 7   Insurance                        20000 non-null  float64
 8   Groceries                        20000 non-null  float64
 9   Transport                        20000 non-null  float64
 10  Eating_Out                       20000 non-null  float64
 11  Entertainment                    20000 non-null  float64
 12  Utilities                        20000 non-null  float64
 13  Healthcare                       20000 non-null  float64
 14  Education                        20000 non-null  float64
 15  Miscellaneous                    20000 non-null  float64
 16  Desired_Savings_Percentage       20000 non-null  float64
 17  Desired_Savings                  20000 non-null  float64
 18  Disposable_Income                20000 non-null  float64
 19  Potential_Savings_Groceries      20000 non-null  float64
 20  Potential_Savings_Transport      20000 non-null  float64
 21  Potential_Savings_Eating_Out     20000 non-null  float64
 22  Potential_Savings_Entertainment  20000 non-null  float64
 23  Potential_Savings_Utilities      20000 non-null  float64
 24  Potential_Savings_Healthcare     20000 non-null  float64
 25  Potential_Savings_Education      20000 non-null  float64
 26  Potential_Savings_Miscellaneous  20000 non-null  float64
dtypes: float64(23), int64(2), object(2)
memory usage: 4.1+ MB

In [ ]:
Df.describe

<bound method NDFrame.describe of               Income  Age  Dependents     Occupation City_Tier          Rent  \
0       44637.249636   49           0  Self_Employed    Tier_1  13391.174891
1       26858.596592   34           2        Retired    Tier_2   5371.719318
2       50367.605084   35           1        Student    Tier_3   7555.140763
3      101455.600247   21           0  Self_Employed    Tier_3  15218.340037
4       24875.283548   52           4   Professional    Tier_2   4975.056710
...              ...  ...         ...            ...       ...           ...
19995   40913.466178   51           4  Self_Employed    Tier_1  12274.039853
19996   90295.772638   21           1        Student    Tier_2  18059.154528
19997   40604.567373   30           1   Professional    Tier_2   8120.913475
19998  118157.817240   27           2   Professional    Tier_1  35447.345172
19999    8209.249769   62           3   Professional    Tier_1   2462.774931

       Loan_Repayment    Insurance     Groceries    Transport  ...  \
0            0.000000  2206.490129   6658.768341  2636.970696  ...
1            0.000000   869.522617   2818.444460  1543.018778  ...
2         4612.103386  2201.800050   6313.222081  3221.396403  ...
3         6809.441427  4889.418087  14690.149363  7106.130005  ...
4         3112.609398   635.907170   3034.329665  1276.155163  ...
...               ...          ...           ...          ...  ...
19995     7703.854895  1646.799940   5477.403246  2084.230191  ...
19996        0.000000  2770.589626  13118.222419  4633.108332  ...
19997     8089.612716  1548.564328   6018.276121  2493.563674  ...
19998    12345.910538  4735.672471  16392.438426  8248.242279  ...
19999     1120.881704   276.376556    969.916908   460.435438  ...

       Desired_Savings  Disposable_Income  Potential_Savings_Groceries  \
0          6200.537192       11265.627707                  1685.696222
1          1923.176434        9676.818733                   540.306561
2          7050.360422       13891.450624                  1466.073984
3         16694.965136       31617.953615                  1875.932770
4          1874.099434        6265.700532                   788.953124
...                ...                ...                          ...
19995      1163.318310        1163.318310                   597.028412
19996     10613.589598       30725.175170                  3854.823822
19997      2267.905134        2267.905134                  1385.511100
19998     10603.684814       10603.684814                  3217.771594
19999       531.044006         860.350559                   261.160294

       Potential_Savings_Transport  Potential_Savings_Eating_Out  \
0                       328.895281                    465.769172
1                       119.347139                    141.866089
2                       473.549752                    410.857129
3                       762.020789                   1241.017448
4                        68.160766                     61.712505
...                            ...                           ...
19995                   287.315050                    347.658355
19996                   359.602765                    911.269461
19997                   379.927216                    138.209465
19998                  2265.865033                    726.247719
19999                   124.057428                     25.940556

       Potential_Savings_Entertainment  Potential_Savings_Utilities  \
0                           195.151320                   678.292859
1                           234.131168                   286.668408
2                           459.965256                   488.383423
3                           320.190594                  1389.815033
4                           187.173750                   194.117130
...                                ...                          ...
19995                       145.843671                   212.833325
19996                       424.064224                  1555.548024
19997                       297.695658                   824.565267
19998                       273.912367                   859.230004
19999                        35.238134                    94.909265

       Potential_Savings_Healthcare  Potential_Savings_Education  \
0                         67.682471                     0.000000
1                          6.603212                    56.306874
2                          7.290892                   106.653597
3                        193.502754                     0.000000
4                         47.294591                    67.388120
...                             ...                          ...
19995                     44.900294                    98.765527
19996                    129.655981                   239.445622
19997                     57.891000                    72.728663
19998                     98.961780                    92.189012
19999                      1.685026                     4.837574

       Potential_Savings_Miscellaneous
0                            85.735517
1                            97.388606
2                           138.542422
3                           296.041183
4                            96.557076
...                                ...
19995                       190.591917
19996                       351.436046
19997                       122.569277
19998                       569.811212
19999                        12.766302

[20000 rows x 27 columns]>

In [ ]:
Df.isnull().sum()

Income                             0
Age                                0
Dependents                         0
Occupation                         0
City_Tier                          0
Rent                               0
Loan_Repayment                     0
Insurance                          0
Groceries                          0
Transport                          0
Eating_Out                         0
Entertainment                      0
Utilities                          0
Healthcare                         0
Education                          0
Miscellaneous                      0
Desired_Savings_Percentage         0
Desired_Savings                    0
Disposable_Income                  0
Potential_Savings_Groceries        0
Potential_Savings_Transport        0
Potential_Savings_Eating_Out       0
Potential_Savings_Entertainment    0
Potential_Savings_Utilities        0
Potential_Savings_Healthcare       0
Potential_Savings_Education        0
Potential_Savings_Miscellaneous    0
dtype: int64

*remove null values*

In [ ]:
# Remove columns that contain any null values
Df_cleaned = Df.dropna(axis=1, how='any')

# If you want to remove columns where all values are null
Df_cleaned = Df.dropna(axis=1, how='all')

# In-place removal (modifies the original dataframe)
Df.dropna(axis=1, inplace=True)

*Count the non null values*

In [ ]:
# Get count of non-null values for each column
non_null_counts = Df.count()
print(non_null_counts)

Income                             20000
Age                                20000
Dependents                         20000
Occupation                         20000
City_Tier                          20000
Rent                               20000
Loan_Repayment                     20000
Insurance                          20000
Groceries                          20000
Transport                          20000
Eating_Out                         20000
Entertainment                      20000
Utilities                          20000
Healthcare                         20000
Education                          20000
Miscellaneous                      20000
Desired_Savings_Percentage         20000
Desired_Savings                    20000
Disposable_Income                  20000
Potential_Savings_Groceries        20000
Potential_Savings_Transport        20000
Potential_Savings_Eating_Out       20000
Potential_Savings_Entertainment    20000
Potential_Savings_Utilities        20000
Potential_Savings_Healthcare       20000
Potential_Savings_Education        20000
Potential_Savings_Miscellaneous    20000
dtype: int64

*remove the duplicate*

In [ ]:
# Remove duplicates based on specific columns (e.g., 'col1' and 'col2')
Df_cleaned = Df.drop_duplicates(subset=['Income', 'Age','Dependents','Occupation','City_Tier','Rent','Loan_Repayment','Insurance','Groceries','Transport','Eating_Out','Entertainment','Utilities','Healthcare','Education','Miscellaneous','Desired_Savings_Percentage','Desired_Savings','Disposable_Income','Potential_Savings_Groceries','Potential_Savings_Transport','Potential_Savings_Eating_Out','Potential_Savings_Entertainment','Potential_Savings_Utilities','Potential_Savings_Healthcare','Potential_Savings_Education','Potential_Savings_Miscellaneous'])

# In-place removal (modifies the original DataFrame)
Df.drop_duplicates(subset=['Income', 'Age','Dependents','Occupation','City_Tier','Rent','Loan_Repayment','Insurance','Groceries','Transport','Eating_Out','Entertainment','Utilities','Healthcare','Education','Miscellaneous','Desired_Savings_Percentage','Desired_Savings','Disposable_Income','Potential_Savings_Groceries','Potential_Savings_Transport','Potential_Savings_Eating_Out','Potential_Savings_Entertainment','Potential_Savings_Utilities','Potential_Savings_Healthcare','Potential_Savings_Education','Potential_Savings_Miscellaneous'], inplace=True)

# Check the shape after removing duplicates
print(f"Rows after removing duplicates based on specific columns: {Df.shape[0]}")

Rows after removing duplicates based on specific columns: 20000

*Counting Rows and Columns*

In [ ]:
num_rows, num_columns = Df.shape

print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 20000
Number of columns: 27

In [ ]:
Df['Disposable_Income'].value_counts

<bound method IndexOpsMixin.value_counts of 0        11265.627707
1         9676.818733
2        13891.450624
3        31617.953615
4         6265.700532
             ...
19995     1163.318310
19996    30725.175170
19997     2267.905134
19998    10603.684814
19999      860.350559
Name: Disposable_Income, Length: 20000, dtype: float64>

In [ ]:
Df.shape

(20000, 27)